@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer{
  font-family: "Poppins";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #111;
  height: auto;
  width: 100vw;
  padding-top: 40px;
  color: #fff;
}

.footer-atas{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-atas h3{
  font-size: 36px;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 48px;
}

.footer-atas p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}

.footer-bawah{
  background: #000;
  width: 100vw;
  padding: 20px;
  padding-bottom: 40px;
  text-align: center;
}

.footer-bawah p{
  float: right;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer-bawah p a{
 color:#44bae8;
 font-size: 16px;
 text-decoration: none;
}

.footer-bawah span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}