/*komentar*/
.header-right{
	font-style: Trebuchet MS;
	background-color: 255, 255, 255, 0.3;
	float: right;
	padding-top: 33px;
	padding-bottom: 33px;
	padding-right: 40px;
	padding-left: 40px;
}
.container{
	background-color: mediumseagreen;
	height: 90px;
	color: #fff;
}
.header-logo{
	font-size: 36px;
	float: left;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 40px;
	padding-right: 40px;
}
.header-right: hover{
	background-color: red;
}